.commentWrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 2px solid burlywood;
    height: 93%;
    width: 100%;
    max-width: 1650px;
    font-size: 14px;


}
.comment-container {
    display: flex;
    height: 93%;
    flex-direction: column;
}
.btn-comment {
    display: inline-block;
    margin: 10px;
    height: 25px;
    width: 50px;

}