/*@media (min-width: 500px) {*/
    /*.container {*/
        /*width: 100%;*/
        /*background-color: #e5e5e5;*/
        /*height: 30px;*/
    /*}*/
/*}*/

.header-container {

    max-width: 100%;
    max-height: 7%;
    background: linear-gradient(90deg,#190033,#000000);
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.header-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 30%;
}

.header-logo {
    height: 100%;

}
.header-logo-label {
    font-family: "Kaushan Script", cursive;
    font-weight: 700;
    font-size: 18px;
    padding-left: 10px;
    color: #03E9D0;
    transition: .2s;
}
.header-logo-label:hover {
    transform: scale(1.1);
}


.header-navigation {
    font-size: 18px;
    display: flex;
    height: 100%;
    align-items: center;
}

.header-navigation .link-container .link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif, cursive;
    font-weight: 700;
    font-size: 16px;
    overflow:hidden;
    color: #03e9f4;
    transition-property: all;
    transition:  .3s linear;



}

.header-navigation .link-container .link:hover {
    color: #050801;
    background-color: #03e9f4;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    letter-spacing: 1px;
    transform: scale(1.2);



}

.link-container {
    height: 100%;
    display: flex;
    align-items: center;
}

