.main-content {
    width: 100%;
    max-width: 1650px;
    height: 100%;
}
.main-content .images-gallery-wrapper {
    width: 1650px;
    max-width: 100%;
    height: 100%;

}

.main-content .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1650px;
    background: center no-repeat;
    background-size: cover;
    background-image: url('./Video/201751.jpg');
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: darken;
}

.container {
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
}