.commentWrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    border-bottom: 2px solid burlywood;
    height: 93%;
    width: 100%;
    max-width: 1650px;
    font-size: 14px;
    text-decoration: none;


}
.comment-container {
    display: flex;
    height: 93%;
    flex-direction: column;

}
.comment-container ul li {
    list-style-type: none;
}
.btn {
    display: inline-flex;
    vertical-align: top;
    font-size:13px ;
    color: #190033;
    font-family:inherit, 'Raleway', sans-serif;
    font-weight: 600;
    padding: 7px 25px;
    margin: 3px;
    border:0;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}


.note-enter-active {
    animation: note 750ms ease-in alternate-reverse;
}
.note-exit-active {
    animation: note 750ms ease-in-out;
}

@keyframes note {
    0% {
        transform: translateX(0);
    }
    30% {
        opacity: 0.7;
        transform: translateX(20px);
    }
    100% {
        opacity: 0;
        transform: translateX(-200px);
    }
}


.item-exit-active {
    animation: text 700ms ease-out forwards;
}
.item-enter-active {
    animation: text 700ms ease-in alternate-reverse;
}

@keyframes text {
    0% {
        transform: translateX(0);
    }
    30% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
        transform: translateX(800px);
    }
}


.btn-text-enter-active {
    opacity:0 ;
}
.btn-text-enter-done {
    opacity:1 ;
}

.btn-text-exit-active {
    opacity:0 ;
}
.btn-text-exit-done {
    opacity:1 ;
}


