.slider {
    display: flex;
    height: 100%;
    width: 1500px;
    max-width: 100%;
}

.video-item {
    margin-left: 250px;

}
.videoWrapper {
    max-width: 1140px;
    width: 100%;
}

.react-slideshow-container {
    width: 100%;
}