* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.info {
    background-image: url("images/abstract.jpg") ;
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    max-width: 1650px;
    padding: 20px;
    overflow: hidden;
    max-height: 1300px;
    height: 100%;
}

.info-photo {
    position: relative;
    overflow: hidden;


}

.info-photo.image1 {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
    transition: .2s;
}


.info-photo.image2 {
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
    transition: 0.2s;
}

.info-photo:hover{
    transform: scale(0.96);
    opacity: 0.7;
    box-shadow: white 0 0 10px ;

}

.info-text {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;

}
.info-text p {
    font-size: 18px;
}

.text-title {
    text-align: center;

}

